// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Common
@import "common";

/* utility */
#nav_guest {
    padding: 1rem 0;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    .nav_guest {
        background-color: $black;
        border-radius: 20px;
        color: $brand-color;
        .button_navbar {
            color: $brand-color;
            text-decoration: none;
            &:focus {
                box-shadow: none;
            }
        }
        .tendina {
            background-color: $black;
            border-radius: 0px 10px 20px 20px;
            .nav_link {
                text-align: center;
                a {
                    color: $brand-color;
                }
            }
        }
        .col-2 img {
            width: 6rem;
        }
    }
}
.text-brand {
    color: $brand-color;
}
/* /utility */

/* header */
header {
    background-image: url("../img/jumbo/jumbo-onda.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem;
    .content-left {
        h1 {
            font-size: 6rem;
            font-weight: bold;
        }
    }
}
/* /header */

/* .larger_container */
/* .right_container */
.main_content {
    margin: 2rem 0;
}
/* .best_plate_section */
.best_plate_section {
    background-image: linear-gradient(
        to right,
        $secondary_color,
        $brand-color
    ) !important;
    border-radius: 0px 370px 0px 370px / 0px 345px 0px 345px;
    padding: 1rem;
    margin: 1rem 0;
    .paragraph_plate_day {
        color: $black;
        margin-bottom: 1rem;
        .row .col-3:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                font-weight: bold;
                font-size: 2rem;
            }
            .horizontal_rule {
                width: 75%;
                padding: 0.2rem;
                border-radius: 10px;
                background-color: $black;
            }
        }
    }
    .plate_of_day {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img {
            width: 40%;
        }
        .plate_of_day_body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
            h4,
            h6 {
                font-weight: bold !important;
            }
        }
    }
}
/* /.best_plate_section */

/* .best_restaurants_section */
.best_restaurants_section {
    .paragraph_title {
        color: $black;
        margin-bottom: 1rem;
        .col-12:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                font-weight: bold;
                font-size: 2rem;
            }
            .horizontal_rule {
                width: 90%;
                padding: 0.2rem;
                border-radius: 10px;
                background-color: $brand-color;
            }
        }
    }

    .background_brand {
        background-color: $secondary_color;
        margin: 1rem;
        padding: 1rem;

        .card_restaurant {
            height: 10rem;
            border: 1px solid $black;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            &:hover {
                cursor: pointer;
            }
        }
        .card_plate {
            height: 5rem;
            border: 1px solid $black;
            border-radius: 5px;
        }
    }

    .carousel {
        .carousel-inner {
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }
            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
            #da_marco {
                background-image: url("../img/main/ristorante_pizzeria.jpg");
                background-repeat: no-repeat;
                background-size: cover;
            }

            #da_giovanni {
                background-image: url("../img/main/ristorante_sushi.jpg");
                background-repeat: no-repeat;
                background-size: cover;
            }
            #da_paolo {
                background-image: url("../img/main/ristorante_panini.jpg");
                background-repeat: no-repeat;
                background-size: cover;
            }
            #da_laurentiu {
                background-image: url("../img/main/ristorante_cucina_orientale.jpg");
                background-repeat: no-repeat;
                background-size: cover;
            }
            #da_giuseppe {
                background-image: url("../img/main/ristorante_cucina_messicana.webp");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}
/* /.best_restaurants_section */
