// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Common
@import "common";

body{
    color: $black !important;
}

/* utility */
#nav_guest {
    padding: 1rem 0;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    .nav_guest {
        background-color: $black;
        border-radius: 20px;
        color: $brand-color;
        .button_navbar {
            color: $brand-color;
            text-decoration: none;
            &:focus {
                box-shadow: none;
            }
        }
        .tendina {
            background-color: $black;
            border-radius: 0px 10px 20px 20px;
            position: absolute;
            inset: 0px auto auto 0px;
            margin: 0px;
            transform: translate(0px, 35px) !important;
            .nav_link {
                text-align: center;
                a {
                    color: $brand-color;
                }
            }
        }
        .col-2 img {
            width: 6rem;
        }
    }
}

.text-brand {
    color: $brand-color;
}

.fw-bold {
    text-align: center;
}
/* /utility */
.brand-color{
    color: $brand-color !important;
}
/* header */
header {
    background-image: url("../img/jumbo/jumbo-onda.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem;
    .content-left {
        h1 {
            font-size: 6rem;
            font-weight: bold;
        }
    }
}

.d_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* /header */

/* .best_restaurants_section */
.best_restaurants_section {
    .paragraph_title {
        color: $black;
        margin-bottom: 1rem;
        .col-12 {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                font-weight: bold;
                font-size: 2rem;
            }
            .horizontal_rule {
                width: 100%;
                padding: 0.2rem;
                border-radius: 10px;
                background-image: linear-gradient(
                    to right,
                    $secondary_color,
                    $brand-color
                );
            }
        }
    }

    .background_brand {
        background-color: $secondary_color;
        margin: 1rem;
        padding: 1rem;

        .card_restaurant {
            height: 10rem;
            border: 1px solid $black;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            &:hover {
                cursor: pointer;
            }
        }
        .card_plate {
            height: 5rem;
            border: 1px solid $black;
            border-radius: 5px;
        }
    }

    .carousel {
        width: 90%;
        margin: 0 auto;
        .carousel-inner {
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }
            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
            .carousel-item {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                .carousel-caption {
                    h2,
                    h3 {
                        font-weight: bold;
                        color: white;
                    }
                    h2 {
                        margin: none;
                    }
                    h3 {
                        margin-bottom: 0.25rem;
                    }
                    .btn {
                        background-image: linear-gradient(
                            to right,
                            $secondary_color,
                            $brand-color
                        );
                        border: none;
                    }
                }
            }
            #da_marco {
                background-image: url("../img/main/ristorante_pizzeria.png");
            }
            #da_giovanni {
                background-image: url("../img/main/ristorante_sushi.jpg");
            }
            #da_paolo {
                background-image: url("../img/main/ristorante_americano.webp");
            }
            #da_laurentiu {
                background-image: url("../img/main/ristorante_cucina_orientale.jpg");
            }
            #da_giuseppe {
                background-image: url("../img/main/ristorante_messicano.jpg");
            }
        }
    }
}
.nav_reg{
    background-color: $black;
    a{
        color: $brand-color;
        &:hover{
            color: $secondary_color;
        }
    }
}

#register{
    .card{
        box-shadow: -1px 17px 20px 1px #0a0903;
        .card-header{
            text-align: center;
            background-color: $black;
            color: $brand-color;
        }
        label{
            font-weight: bolder;
        }
        .btn-register{
            background-color: $brand-color;
            color: $black;
            font-weight: 900;
            &:hover{
                transform: scale(105%);
            }
        }
    }
}
#accedi{
    .card{
        box-shadow:4px 9px 20px 0px $black;
        .card-header{
            background-color: $black;
            color: $brand-color;
        }
        label{
            font-weight: bolder;
        }
        .bottoni_accesso{
            margin-top: .5rem;
            .btn_access{
                background-color: $brand-color;
                color: $black;
                &:hover{
                    transform: scale(105%);
                }
            }
            a{
                color: $brand-color;
                &:hover{
                    color: $black;
                }
            }
        }
    }
}

/* restuarants */
#home {
    .line {
        width: 100%;
        border-radius: 10px;
        background-image: linear-gradient(
            to right,
            $secondary_color,
            $brand-color
        );
    }
    .ristoranti_container {
        /* .contenitore_bordi {
            
        } */
        .pagination {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
            .prev,
            .next {
                color: $brand-color !important;
                font-weight: bold;
            }
        }
    }
}
/* /restuarants */

/* .best_plate_section */
.best_plate_section {
    background-image: linear-gradient(to right, $secondary_color, $brand-color);
    //border-radius: 0px 370px 0px 370px / 0px 345px 0px 345px;
    padding: 1rem;
    margin: 1rem 0;
    .paragraph_plate_day {
        color: $black;
        margin-bottom: 1rem;
        text-align: center;
        .row .col-3:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                font-weight: bold;
                font-size: 2rem;
            }
            .horizontal_rule {
                width: 75%;
                padding: 0.2rem;
                border-radius: 10px;
            }
        }
    }
    .plate_of_day {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img {
            width: 40%;
        }
        .plate_of_day_body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
            h5,
            h6 {
                font-weight: bold !important;
            }
        }
    }
}
/* /.best_plate_section */

/* #site_footer */
#site_footer {
    //background-color: #777;
    background-image: linear-gradient(to right, $secondary_color, $brand-color);
    padding: 1rem;
    margin-top: 2rem;
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
        }
        .col-4 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            a {
                text-align: center;
            }
            h6 {
                text-align: center;
                font-weight: bold;
                font-size: 20px;
            }
            .app_store {
                text-align: center;
                img {
                    
                    margin: 0.25rem;
                    text-align: center;
                }
                margin-bottom: 2rem;
            }
            #arrow_up {
                display: inline-block;
                i {
                    font-size: 30px;
                }
            }
        }
        img {
            width: 50%;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            text-align: center;
        }
        a {
            color: $black;
            &:hover {
                text-decoration: 1px solid $black underline;
            }
        }
        #legal_notices {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
/* /#site_footer */

/* media_screen */
@media screen and (min-width: 390px) {
    .container {
        max-width: 330px;
    }

    .title {
        font-size: 35px !important;
    }

    .col-sm-6 {
        width: 100%;
    }

    .background_cat {
        flex-wrap: wrap;
    }

    .orange_band {
        margin: 0.7rem !important;
        height: 50px;
    }

    .fw-bold {
        font-size: 10px;
    }

    .h2_carousel {
        font-size: 19px;
    }

    .h3_carousel {
        font-size: 16px;
    }

    #site_footer .row img {
        width: 100%;
    }

    .app_store_logo {
        width: 80%!important;
    }

    .king{
        border: none;
        margin: 10%;
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 425px;
    }

    .title {
        font-size: 69px !important;
    }

    .col-sm-6 {
        width: 70%;
    }

    .background_cat {
        flex-wrap: wrap;
    }

    .orange_band {
        margin: 0.6rem !important;
    }

    .h2_carousel {
        font-size: 25px;
    }

    .h3_carousel {
        font-size: 17px;
    }

    #site_footer .row img {
        width: 80%;
    }

    .app_store_logo {
        width: 65%!important;
    }

    .king{
        border: none;
        margin: 10%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 700px;
    }

    .title {
        font-size: 52px !important;
    }

    .col-sm-6 {
        width: 50%;
    }

    .h2_carousel {
        font-size: 30px;
    }

    .h3_carousel {
        font-size: 22px;
    }

    .orange_band {
        margin: 0.5rem !important;
    }

    .fw-bold {
        font-size: 13px;
    }

    .background_cat {
        flex-wrap: nowrap;
    }

    #site_footer .row img {
        width: 60%;
    }

    .app_store_logo {
        width: 40%!important;
    }

    .king{
        border: none;
        margin: 10%;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 940px;
    }

    .title {
        font-size: 63px !important;
    }

    .col-sm-6 {
        width: 50%;
    }

    .h2_carousel {
        font-size: 33px;
    }

    .h3_carousel {
        font-size: 27px;
    }

    .fw-bold {
        font-size: 15px;
    }

    #site_footer .row img {
        width: 50%;
    }

    .app_store_logo {
        width: 35%!important;
    }

    .king {
    border-left: 2px solid #ff8200;
    border-right: 2px solid #ff8200;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1120px;
    }

    .title {
        font-size: 80px !important;
    }

    .col-sm-6 {
        width: 50%;
    }

    .h2_carousel {
        font-size: 33px;
    }

    .h3_carousel {
        font-size: 27px;
    }

    .app_store_logo {
        width: 25%!important;
    }

    
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    .title {
        font-size: 6rem !important;
    }

    .col-sm-6 {
        width: 50%;
    }

    .h2_carousel {
        font-size: 33px;
    }

    .h3_carousel {
        font-size: 27px;
    }
}
/* /media_screen */
